<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div ng-app="" ng-init="myCol='lightblue';quantity=166;cost=5">

    <input style="background-color:{{myCol}}" ng-model="myCol">

    <input ng-model="usd">

    <p>Total in dollar: {{ quantity * usd }}</p>
    
    </div>
</body>
</html>